<div class="container">
  <div class="jumbotron center">
    <h2 class="center">Play MasterMind Created By Nicky</h2>
  </div>
</div>

<tr style="padding-left:120px;padding-right:20px;">
  <div id="PinOptions" style="padding-left:120px;padding-right:120px;">
    <table style="border-left:6px black solid;border-top:8px black solid;
      border-right:6px black solid;border-bottom:8px black solid;" cellspacing="0" bgcolor="#47291f" align="center">
      <tbody>
        <tr>
          <td colspan="2">
            <table cellspacing="0" cellpadding="0">
              <tbody>
                <tr id="Row1" bgcolor="#47291f">
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_1.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_2.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                </tr>
                <tr id="Row1" bgcolor="#47291f">
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_3.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_4.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                </tr>
                <tr id="Row1" bgcolor="#47291f">
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_5.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_6.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                </tr>
                <tr id="Row1" bgcolor="#47291f">
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_7.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_8.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>
<a>Te kraken code:</a>
    <table style="border-left:6px black solid;border-top:8px black solid;
    border-right:6px black solid;border-bottom:8px black solid;" cellspacing="0" bgcolor="#47291f" align="center">
      <tbody>
        <tr>
          <td colspan="2">
            <table cellspacing="0" cellpadding="0">
              <tbody>
                <tr id="Row1" bgcolor="#47291f">
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_1.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_2.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_2.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                  <td>
                    <a>
                      <img src="../assets/images/shadow_ball_2.png" alt="" width="72" height="72" border="0">
                    </a>
                  </td>
                </tr>



              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <div id="GameTable" style="padding-left:20px;padding-right:120px;">

    <table style="border-left:6px black solid;border-top:8px black solid;
border-right:6px black solid;border-bottom:8px black solid;" cellspacing="0" bgcolor="#47291f" align="center">
      <tbody>
        <tr>
          <td colspan="2">
            <table cellspacing="0" cellpadding="0">
              <tbody>
                <tr id="Row1" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row2" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row3" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row4" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row5" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row6" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row7" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row8" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row9" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>
                <tr id="Row10" bgcolor="#47291f">
                  <basic-row-component></basic-row-component>
                </tr>


              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</tr>