
<table @mousechange style="border-left:6px black solid;border-top:8px black solid;
      border-right:6px black solid;border-bottom:8px black solid;" cellspacing="0" bgcolor="#47291f" align="center">
  <tbody>
    <tr>
      <td colspan="2">
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr id="Row1" bgcolor="#47291f">
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_1MBN.png" (click)=MousePin(1) alt="" width="72" height="72" border="0">
                </a>
              </td>
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_2MBN.png" (click)=MousePin(2) alt="" width="72" height="72" border="0">
                </a>
              </td>
            </tr>
            <tr id="Row1" bgcolor="#47291f">
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_3MBN.png" (click)=MousePin(3) alt="" width="72" height="72" border="0">
                </a>
              </td>
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_4MBN.png" (click)=MousePin(4) alt="" width="72" height="72" border="0">
                </a>
              </td>
            </tr>
            <tr id="Row1" bgcolor="#47291f">
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_5MBN.png" (click)=MousePin(5) alt="" width="72" height="72" border="0">
                </a>
              </td>
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_6MBN.png" (click)=MousePin(6) alt="" width="72" height="72" border="0">
                </a>
              </td>
            </tr>
            <tr id="Row1" bgcolor="#47291f">
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_7MBN.png" (click)=MousePin(7) alt="" width="72" height="72" border="0">
                </a>
              </td>
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_8MBN.png" (click)=MousePin(8) alt="" width="72" height="72" border="0">
                </a>
              </td>
            </tr>
            <tr id="Row1" bgcolor="#47291f">
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_9MBN.png" (click)=MousePin(9) alt="" width="72" height="72" border="0">
                </a>
              </td>
              <td>
                <a>
                  <img src="../assets/images/shadow_ball_10MBN.png" (click)=MousePin(10) alt="" width="72" height="72" border="0">
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>