<div id="GameTable" style="padding-left:20px;padding-right:120px;">

  <table style="border-left:6px black solid;border-top:8px black solid;
border-right:6px black solid;border-bottom:8px black solid;" cellspacing="0" bgcolor="#47291f" align="center">
    <tbody>
      <tr>
        <td colspan="2">
          <table cellspacing="0" cellpadding="0">
            <tbody>
              <tr id="Row1" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row2" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row3" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row4" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row5" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row6" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row7" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row8" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row9" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>
              <tr id="Row10" bgcolor="#47291f">
                <basic-row-component></basic-row-component>
              </tr>


            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
</div>